apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-3fl4
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-hopl-tenant/status-quarkus-io/statusquarkusio-3fl4@sha256:e21f1aa74c52efee924bfe664f96b3e61016357a35ca8de13e09a27697ade788
        name: my-java-quarkus
        resources: {}
status: {}
